.App {
    text-align: center;
}

.Menu {
    height: 45px;
    line-height: 45px;
    background: #35393f;
    border-bottom: 3px solid #527e05;
}

.Menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.Menu ul li {
    display: inline-block;
}

.Menu ul li a {
    display: block;
    padding: 0 20px;
    text-decoration: none;  
    color: #ffffff;
}

.Menu ul li a:hover {
    background: rgba(0, 0, 0, 0.4); 
}

.Menu ul li a.active{
    background: #527e05;
}

.Content{
    padding: 20px 0;
}

.Home{
    position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -80px;
}

.Home .got{}

.Home .got a{
    display: inline-block;
    background: #0082c7;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.Home .got a:hover{
    background: #02669b;
}

.Home .author{
    margin-top: 40px;
    font-size: 13px;
}

/*******************************************************/

.Error{
    max-width: 400px;
    margin: 0 auto;
    padding: 0 20px;
}

.Error .inner{
    background: rgba(0, 0, 0, 0.09);
    border-radius: 4px;
    padding: 10px; 
    text-align: left;     
}

.Error .tie{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 3px;
    padding: 5px;
}

.Error .tie span{
    color: #b03;
    font-weight: 400;
}

.Error .msg{
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 10px 5px;
}

.events{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px;    
}

.events h1{
    margin: 0 0 10px 0;
    padding: 0;
    text-align: left;   
    font-size: 18px;
}

.listEvents{}

.listEvents .item{
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    margin-bottom: 10px;
    padding: 20px;
}

.listEvents .item:hover{
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.listEvents .item .date{
    width: 100%;
    padding-bottom: 15px;
}

.listEvents .item .place{
    padding-top: 15px;
}

.listEvents .item .sctm{
    display: flex;
    justify-content: space-between;
    border: 1px solid rgba(1, 1, 1, 0.1);
    border-left: none;
    border-right: none;
    padding: 20px 0;
}

.listEvents .item .sctm div{
    line-height: 50px;
    vertical-align:middle;
}

.listEvents .item .sctm .score{
    font-size: 30px;
    font-weight: 700;
    width: 120px;
    min-width: 110px;
}

.listEvents .item .sctm .team{
    width: 260px;
    background-repeat: no-repeat;
    background-position: right;
    text-align: right;
    padding: 0 60px 0 0;
    font-size: 18px;
    font-weight: 700;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;    
}

.listEvents .item .sctm .team.away{
    background-position: left;
    padding: 0 0 0 60px;
    text-align: left;
}

.loading{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 130px;
    margin-left: -100px;
    margin-top: -45px;
    color: #444;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
}

.lds-ring {
    margin-top: 10px;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 7px solid #07a;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #07a transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 480px) {
    .listEvents .item .sctm .team span{
        display: none;
    }	
}